#service{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
}
#service-icon{
    width:10%;
}
#more-btn{
    padding: 5px;
    width:50%;
    border:3px solid #083d5f;
    color:#083d5f;
    background-color: transparent;
    font-weight: bold;
    margin-top: 10px;
}