input, textarea{
    padding:5px;
    width:100%;

}
#contact-section-container{
    margin:10px 0px 10px 0px;
}
#contact-section{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(129, 184, 77, 0.7);    ;
    color:white;
    /* padding: 2%; */
    /* opacity: 0.7; */
    width:100%;
    /* opacity: 0.8; */
    position: absolute;
    height:25vw;
    
}
#contact-form{
    flex:1;
    width:100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#contact-form > button{
    padding:10px;
    width:40%;
}
#contact-details{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    flex:1;
    background-color:rgba(112, 185, 43, 0.5);    ;
    text-align: center;
    align-items: center;
    
}
#contact-details-img{
    width:100%;
    height:25vw;
    object-fit: cover;
    /* position: absolute;
    top:40%; */
    /* z-index:1; */
}
#contact-detail{
    margin-left: 30px;
    margin-top: 30px;
}
#google-maps-container{
    display: flex;
    justify-content: center;
}
#office-location-container{
    padding: 10px;
}
#office-location-container > h1{
    text-align: center;
    border-bottom: 10px;
}
@media screen and (max-width:500px){
    #contact-section,#contact-details-img{
        height:85vw;

    }
    #contact-section-container{
        position: relative;
    }
    button{
        width:100%;
    }
    #contact-details{
        margin-left: 0px;
    }

}
