input, textarea{
    padding:5px;
    width:100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#contact-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #81b84d;
    color:white;
    /* padding: 2%; */
    opacity: 0.7;
    width:100%;
    /* opacity: 0.8; */
    position: absolute;
    height:25vw;
}
#contact-form{
    flex:1;
    width:100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#contact-form > button{
    padding:10px;
    width:40%;
}
#contact-details{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    flex:1;
    background-color:#70b92b;
    
    
}
#contact-details-img{
    width:100%;
    height:25vw;
    object-fit: cover;
    /* position: absolute;
    top:40%; */
    z-index:1;
}
#contact-detail{
    margin-left: 30px;
    margin-top: 30px;
}
