#service-details-img{
    width:30%;
    margin-right: 50px;
}
.bold-element{
    font-weight: bold;
}
#service-details-section{
    display: flex;
    padding: 10px;
}
ul{
    text-align: left; /* Aligns the text to the left */
    text-justify: auto; /* Applies justification if supported */
    list-style-type: disc;
}
.service-margin{
    margin-left: 1rem;
}
  
li{
    text-align: justify; /* Justifies the text in the list items */
}