footer{
    background-color: #083d5f;
    color:white;
    padding:10px;
    display: flex;
    justify-content: space-around;
}
#footer-section-heading{
    font-weight: bold;
}
#footer-section-1,#footer-section-2, #footer-section-3{
    flex:1;
}
#logo-img{
    width:30%;
}
#social-media-icon{
    width:5%;
    margin-top: 10px;
}
#links > li{
    list-style-type: none;
}
#links{
    text-decoration: none;
    color: white;
}
#additional-links > li{list-style-type: none;}
#additional-links > li > a{
    text-decoration: none;
    color: white;
}
#additional-links > li > a:hover{
    color:orangered;
    transition-delay: 0.25s;
}