.banner{
    width:100%;
    height:30vh;
    position: relative;
}
.banner_img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.banner_overlay{
    background-color: rgba(0, 0, 0, 0.4);
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    color:white;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.banner_overlay > h1{
    font-size:40px;
}